<div class="center">
  <div class="card">
    <div class="title">Sign in</div>
    <form (ngSubmit)="onSubmit()">
      <input [(ngModel)]="email" name="email" type="email" placeholder="Email" required />
      <input [(ngModel)]="password" name="password" type="password" placeholder="Password" required />
      <button type="submit">Sign in</button>
    </form>
    <div class="helper">
      Don't have an account?
      <a routerLink="/signup">Create one</a>
    </div>
    <div class="error" *ngIf="error">{{ error }}</div>
  </div>
</div>
